{% extends 'base.html' %}

{% block content %}
<div class="auth-container">
    <div class="container" data-layout="container">
        <div class="row justify-content-center min-vh-100 align-items-center">
            <div class="col-lg-5 col-md-7 col-sm-9 col-11">
                <div class="card shadow-lg border-0 rounded-lg">
                    <div class="card-header bg-light">
                        <div class="text-center">
                            <h3 class="fw-light my-4">{% block auth_title %}{% endblock %}</h3>
                        </div>
                    </div>
                    <div class="card-body p-4">
                        {% include 'components/alerts.html' %}
                        {% block auth_content %}{% endblock %}
                    </div>
                    <div class="card-footer bg-light text-center py-3">
                        {% block auth_footer %}{% endblock %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
