{% extends 'base.html' %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block title %}
{% if object %}{% trans "Edit Asset" %}{% else %}{% trans "Register Asset" %}{% endif %} | Système de Comptabilité
{% endblock %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-md-10">
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">
                    {% if object %}{% trans "Modify Asset Information" %}{% else %}{% trans "New Asset Registration"
                    %}{% endif %}
                </h6>
            </div>
            <div class="card-body">
                <form method="post">
                    {% csrf_token %}
                    <div class="row">
                        <div class="col-md-6">
                            {{ form.asset_code|as_crispy_field }}
                        </div>
                        <div class="col-md-6">
                            {{ form.name|as_crispy_field }}
                        </div>
                    </div>
                    {{ form.description|as_crispy_field }}
                    <div class="row">
                        <div class="col-md-4">
                            {{ form.acquisition_date|as_crispy_field }}
                        </div>
                        <div class="col-md-4">
                            {{ form.acquisition_cost|as_crispy_field }}
                        </div>
                        <div class="col-md-4">
                            {{ form.salvage_value|as_crispy_field }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            {{ form.asset_account|as_crispy_field }}
                        </div>
                        <div class="col-md-6">
                            {{ form.accumulated_depreciation_account|as_crispy_field }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            {{ form.depreciation_expense_account|as_crispy_field }}
                        </div>
                        <div class="col-md-4">
                            {{ form.depreciation_method|as_crispy_field }}
                        </div>
                        <div class="col-md-4">
                            {{ form.useful_life_years|as_crispy_field }}
                        </div>
                    </div>
                    {{ form.status|as_crispy_field }}

                    <div class="mt-4 d-flex justify-content-between">
                        <a href="{% url 'assets:fixedasset_list' %}" class="btn btn-outline-secondary">
                            {% trans "Cancel" %}
                        </a>
                        <button type="submit" class="btn btn-primary px-4">
                            {% trans "Save Asset" %}
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}