{% extends 'base.html' %}
{% block content %}
<h1>Accounting Period Detail</h1>
<ul>
    <li>Name: {{ period.name }}</li>
    <li>Start: {{ period.start_date }}</li>
    <li>End: {{ period.end_date }}</li>
    <li>Status: {{ period.status }}</li>
</ul>
<a href="{% url 'accounting:accountingperiod_edit' period.pk %}">Edit</a> |
<a href="{% url 'accounting:accountingperiod_delete' period.pk %}">Delete</a> |
<a href="{% url 'accounting:accountingperiod_list' fiscal_year_id=period.fiscal_year.pk %}">Back to Periods</a>
{% endblock %} 