{% extends 'base.html' %}
{% block content %}
<h1>Fiscal Years</h1>
<a href="{% url 'accounting:fiscalyear_create' %}">Create New Fiscal Year</a>
<table>
    <tr>
        <th>Name</th><th>Start</th><th>End</th><th>Status</th><th>Actions</th>
    </tr>
    {% for fy in fiscalyears %}
    <tr>
        <td><a href="{% url 'accounting:fiscalyear_detail' fy.pk %}">{{ fy.name }}</a></td>
        <td>{{ fy.start_date }}</td>
        <td>{{ fy.end_date }}</td>
        <td>{{ fy.status }}</td>
        <td>
            <a href="{% url 'accounting:fiscalyear_edit' fy.pk %}">Edit</a> |
            <a href="{% url 'accounting:fiscalyear_delete' fy.pk %}">Delete</a>
        </td>
    </tr>
    {% endfor %}
</table>
{% endblock %} 