{% extends 'base.html' %}
{% block content %}
<h1>Journals</h1>
<a href="{% url 'accounting:journal_create' %}">Create New Journal</a>
<table>
    <tr>
        <th>Code</th><th>Name</th><th>Type</th><th>Actions</th>
    </tr>
    {% for journal in journals %}
    <tr>
        <td>{{ journal.code }}</td>
        <td><a href="{% url 'accounting:journal_detail' journal.pk %}">{{ journal.name }}</a></td>
        <td>{{ journal.get_type_display }}</td>
        <td>
            <a href="{% url 'accounting:journal_edit' journal.pk %}">Edit</a> |
            <a href="{% url 'accounting:journal_delete' journal.pk %}">Delete</a>
        </td>
    </tr>
    {% endfor %}
</table>
{% endblock %} 