<header class="header">
    <div class="container-fluid">
        <div class="row align-items-center">
            <div class="col-md-3 d-md-none">
                <button class="btn" id="sidebarCollapseShow">
                    <i class="bi bi-list fs-4"></i>
                </button>
            </div>
            <div class="col-md-6 col-8">
                <h1 class="page-title">{% block page_title %}Tableau de bord{% endblock %}</h1>
            </div>
            <div class="col-md-6 col-4 text-end">
                <div class="dropdown">
                    <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        <i class="bi bi-bell"></i>
                        <span class="badge bg-danger rounded-pill">3</span>
                    </button>
                    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownMenuButton">
                        <li>
                            <h6 class="dropdown-header">Notifications</h6>
                        </li>
                        <li><a class="dropdown-item" href="#">Nouvelle écriture comptable</a></li>
                        <li><a class="dropdown-item" href="#">Clôture de période à venir</a></li>
                        <li><a class="dropdown-item" href="#">Budget dépassé</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" href="#">Voir toutes les notifications</a></li>
                    </ul>
                </div>
                <div class="dropdown d-inline-block ms-2">
                    <button class="btn dropdown-toggle" type="button" id="userDropdown" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        <i class="bi bi-person-circle"></i>
                    </button>
                    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="userDropdown">
                        <li>
                            <h6 class="dropdown-header">{{ request.user.get_full_name }}</h6>
                        </li>
                        <li><a class="dropdown-item" href="{% url 'users:profile' %}">Mon profil</a></li>
                        <li><a class="dropdown-item"
                                href="{% url 'organization:organization_settings' %}">Paramètres</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" href="{% url 'account_logout' %}">Déconnexion</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</header>